/* Regular weight (100-599) */
@font-face {
    font-family: 'OpenDyslexic';
    /* Multiple URL options with fallback for both Chrome and Firefox extension protocols */
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Regular.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Regular.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Regular.otf') format('opentype');
    font-weight: 100 599;
    font-style: normal;
    font-display: swap;
}

/* Bold weight (600-900) */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Bold.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Bold.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Bold.otf') format('opentype');
    font-weight: 600 900;
    font-style: normal;
    font-display: swap;
}

/* Italic regular (100-599) */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Italic.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Italic.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Italic.otf') format('opentype');
    font-weight: 100 599;
    font-style: italic;
    font-display: swap;
}

/* Italic bold (600-900) */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype');
    font-weight: 600 900;
    font-style: italic;
    font-display: swap;
}